*
!public
!src
!theme
!.eslintignore
!.eslintrc.json
!.prettierignore
!.prettierrc.js
!.stylelintrc.json
!babel.config.json
!postcss.config.js
!package-lock.json
!package.json
!tsconfig.json
!webpack.config.ts
!local_modules
!config
!_docker/server.js
!_docker/package.json